<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.autonacao.dicionariodetermosinformticos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity_Quizz"
            android:label="@string/title_activity__quizz"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Activity_Conversion"
            android:label="@string/title_activity__conversion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_Save_Words"
            android:label="@string/title_activity__save__words"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_Configuration"
            android:label="@string/title_activity__configuration"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity_Splash_Screen"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity_Dictionary_Words"
            android:label="@string/activity_dictionary_words"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".receive_data.Activity_Receive_Data_Dictionary_Words"
            android:label="@string/title_activity_receive_data_dictionary_words"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>